## Import libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Load data

In [ ]:
train = pd.read_csv('./data/train.csv', index_col='id')
test = pd.read_csv('./data/test.csv', index_col='id')

data = pd.concat([train, test])

## Plot each feature against the target

In [ ]:
columns = test.columns

for col in columns:
    fig, ax = plt.subplots()
    ax.scatter(train[col].fillna('NaN'), train['target'])
    ax.set_title(str(col + ' --- ' + train[col].isnull().sum()))

## Feature encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [ ]:
cols_for_label_encoding = []
cols_for_onehot_encoding = []

#### Label encoding

In [ ]:
le = LabelEncoder()

for col in cols_for_label_encoding:
    data[col] = le.fit_transform(data[col].fillna('Missing'))

#### One-hot encoding

In [ ]:
le = LabelBinarizer()

for col in cols_for_onehot_encoding:
    matrix = le.fit_transform(data[col].fillna('Missing')).T
    unique = data[col].fillna('Missing').unique()
    if unique.shape[0] < 2:
        data[col + str(unique[0])] = le.transform(data[col].fillna('Missing'))
    else:
        matrix = le.transform(data[col].fillna('Missing'))
        for i in range(unique.shape[0]):
            data[col + str(unique[i])] = matrix[i]
    data.drop(col, inplace=True)

In [5]:
import numpy as np
a = np.array([1, 2, 30])
a[:1][0]

1

In [9]:
import pandas as pd

In [16]:
df = pd.DataFrame([{'name': ['helldffo', 'world'], 'surname': ['hello', 'world']}, {'name': ['helldffo', 'world'], 'surname': ['hello', 'world']}])
df

                name         surname
0  [helldffo, world]  [hello, world]
1  [helldffo, world]  [hello, world]

In [17]:
df.iloc[0]

name       [helldffo, world]
surname       [hello, world]
Name: 0, dtype: object

In [19]:
df.iloc[[0]].columns

Index(['name', 'surname'], dtype='object')

In [23]:
np.all([True, False, True])

False